<!DOCTYPE html>
<html lang="en" >
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body >
    <h1> Log In Here </h1>
    <nav>
        <a href="/">Home</a>
         <a href="/auth/new">New trip</a> 
         <a href="/destinations">Our Destinations</a> 
         <a href="/aboutus">About Us</a>
      </nav>
    <form method="POST" action="/auth/login" id="mehhh">
        <small><%= message %></small>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="submit">
    </form>
    <a href="/auth/register">Dont have an account?</a>
    </body>
</html>