
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body id="travel">


<<<<<<< HEAD
 
    <!-- <img id="traveling" src="https://66.media.tumblr.com/a28c86e92d2aa2915281cd41a1bd64e3/tumblr_o0ll94A31e1s7z2cyo1_500.gif" alt="space travel"> -->
<div id="hide">
    <iframe src="/knockoffMario/index.html" width="400" height= "400" name="games" id="games">iframes are not availible on your browser</iframe>
<br>
<a href="/knockoffMario/index.html" target="games">Knock Off Mario</a>
<a href="/dontJeprodizeMe/index.html" target="games">Dont Jeprodize Me</a>
<a href="/blackJack/index.html" target="games">Black Jack</a>
</div>
<div id="deboard">
=======
      <img id="traveling" src="https://66.media.tumblr.com/a28c86e92d2aa2915281cd41a1bd64e3/tumblr_o0ll94A31e1s7z2cyo1_500.gif" alt="space travel">

      <div id="deboard">
>>>>>>> ccbc578e63457777cb67a8e6eaa06da1c08b3bf8
        <form id="theForm" method="POST" action="/auth/takeTrip">
          <input type="hidden" name="tripName" value="<%= destination %>">
          <input type="hidden" name="tripId" value="<%= tripId %>">
        </form>
      </div>
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script src="/deboard.js"></script>
    </body>
</html>