<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <section>
      <nav>
      <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

        <% }else { %>
          <a href="/auth/login">Login</a>
        <% } %>
        <a href="/">Home</a>
         <a href="/trips/new">New trip</a> 
         <a href="/aboutus">About Us</a>
         <a href="/destinations">Back</a>
      </nav>
    </section> 
    <h1>About Us</h1>
    <br>
      <h1>We fly out of this world... literally</h1>
  </body>
</html>