<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title> <!--Always be sure add a title to pages ðŸ˜-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Orbitron|Oswald|Righteous" rel="stylesheet">
    </head>
    <body>
      <div>
        <h1>404 <br> I DONT KNOW WHAT YOU'RE DOING BUT STOP DOING IT</h1>
        <a href="/">GO ON NOW GET!</a>
      </div>
      
    
    </body>
</html>