<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Righteous|Orbitron" rel="stylesheet">
    </head>
    <body>
     <header>
        <h1>   G.I.T.S</h1>
     </header>
      <h2>Galactic Interplanetary Travel Systems</h2>
      <section>
        <nav>
          <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

          <% }else { %>
            <a href="/auth/login">Login</a>
          <% } %>

          <a href="/auth/new">New Trip</a> 
          <a href="/destinations">Our Destinations</a> 
          <a href="/auth/<%= id %>">My trips</a> 
          <a href="/aboutus">About Us</a>
        </nav>
      </section>  
    </body>
</html>