<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Destinations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    
    
      <nav>
      <% if(logged === true){ %>
          <a href="/auth/logout">Logout</a>

        <% }else { %>
          <a href="/auth/login">Login</a>
        <% } %>
        <a href="/">Home</a>
         <a href="/trips/new">New trip</a> 
         <a href="/aboutus">About Us</a>
      </nav>
     
     <h1>Destinations</h1>  
    
      <ul class= "destinations">
        <%for(i = 0; i < allDestinations.length; i++) {%>
          <li><a href="/destinations/<%=allDestinations[i].id%>"><%=allDestinations[i].name%></a></li>
        <%}%>
      </ul>
    
  </body>
</html>