<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Destinations</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Diplomata|Economica|Londrina+Shadow|Orbitron|Oswald|Righteous" rel="stylesheet">
  </head>
  <body id="destinationsindex">
    <header>
      <h1>   G.I.T.S</h1>
    </header>
    <h2>Galactic Interplanetary Travel Systems</h2>
     
    <section>
      <nav>
        <a href="/">Home</a>
        <a href="/aboutus">About Us</a>
        <a href="/auth/<%= id %>">My Trips</a>
        <a href="/auth/new">New Trip</a> 
          <% if(logged === true){ %>
        <a href="/auth/logout">Logout</a>

        <% }else { %>
          <a href="/auth/login">Login</a>
        <% } %>
      </nav> 
    </section>
     
     
     <h1>Destinations</h1> 
    
      <section class= "destinations">
        <ul >
        <%for(i = 0; i < allDestinations.length; i++) {%>
          <li><a href="/destinations/<%=allDestinations[i].id%>"><%=allDestinations[i].name%></a></li>
        <%}%>
        </ul>
      </section>
    
    <footer>
        <h5>Copyright 2018 Galactic Interplanetary Travel Systems</h5>
    </footer>
  </body>
</html>